@{
    ViewData["Title"] = "About Me";
}

<style>
    body {
        background: url('/images/Bham.jpg') no-repeat center center fixed;
        background-size: cover;
        height: 100%;
        overflow: scroll;
        background-color: transparent;
    }

    form {
        font-family: monospace;
    }

    input[type=text], input[type=submit] {
        width: 50%;
        padding: 12px;
        margin: 5px 0;
        display: inline-block;
    }

    input[type=checkbox] {
        margin-top: 12px;
    }

    input[type=submit] {
        background-color: green;
        color: white;
        border: 50px;
    }

        input[type=submit]:hover {
            opacity: 0.8;
        }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    h1 {
        font-size: larger;
        color: lightgray;
        font-family: monospace;
        text-align: center;
    }

    h2 {
        font-size: large;
        color: lightgray;
        font-family: monospace;
        text-align: center;
    }
    img {
        border-radius: 07%;
    }

    p {
        font-size: large;
        color: lightgray;
        font-family: monospace;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        text-indent: 2.0em;
    }
</style>

<h1>
    Hi, hello, hey!
</h1>
<img style="width:500px;height:500px" src="/images/Aboutme.jpg" alt="GG Logo" class="center" />
<p>
    I’m Genesis and I love capturing memories. It doesn’t have to be people, in fact my favorite thing to photograph are views of everyday life. I have lived in downtown Birmingham for 3 years. I come from a very small town, so when I moved here, I loved stopping and taking pictures of anything that stood out to me and in the city there’s a lot of that! Whenever possible, I photograph people too. Birmingham has many murals and beautiful scenery, so I make sure to pay attention when I go out for a run or am driving around. I’m always on the hunt for a good backdrop! Talking and getting to know people is my specialty, it helps me create a comfortable environment for anyone I photograph.

    My personal goal is to preserve time.. make memories stay put.. to gaze upon a moment and feel the raw emotions rising from within that image… and I want to do that for you.
</p>

<div style="justify-content: center;
        margin: auto;
        text-align: center;
        display: flex;
        align-items: center">
    <form class="center">
        <div>
            <h2>Interested in a free session? Hit me up!</h2>
            <input type="text" placeholder="Name" name="name" required>
            <input type="text" placeholder="Email" name="email" required>
            <input type="text" placeholder="Subject" name="subject" required>
            <input type="text" placeholder="Message" name="message" required>
        </div>
        <div>
            <input type="submit" value="Send">
        </div>
    </form>
</div>

<div style="position: page; bottom: 5px; width: 88%">
    <hr />
    <footer>
        <p></p>
    </footer>
</div>