@{
    ViewData["Title"] = "Contact";
}

<style>
    body {
        background: url('/images/Bham.jpg') no-repeat center center fixed;
        background-size: cover;
        height: 100%;
        overflow: scroll;
        background-color: transparent;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
    }
    address {
        font-size: large;
        color: lightgray;
        font-family: monospace;
    }

    h1 {
        font-size: larger;
        color: lightgray;
        font-family: monospace;
    }

    h2 {
        font-size: large;
        color: lightgray;
        font-family: monospace;
    }
</style>

<div class="center">
<h1>GG Photography</h1>
    <address>
        Big Building Downtown<br />
        Birmingham, AL 35205<br />
        <abbr title="Phone">P:</abbr>
        205.555.5555
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:ggphotography@gmail.com">ggphotography@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:ggphotography@gmail.com">ggphotography@gmail.com</a>
    </address>
</div>

<div style="position: absolute; bottom: 5px; width: 88%">
    <hr />
    <footer>
        <p>&copy; 2019 - FinalProject</p>
    </footer>
</div>