@{
    ViewData["Title"] = "Portfolio";
}

<style>
    body {
        background: url('/images/Bham.jpg') no-repeat center center fixed;
        background-size: cover;
        height: 100%;
        overflow: scroll;
    }

    img {
        border-radius: 02%;
        width: 650px;
        height: 650px;
    }

    .carousel-control {
        border-radius: 10px;
    }

    h1 {
        color: lightgray;
        font-family: monospace;
        text-align: center;
    }
</style>

<h1>Familia</h1>
<div style="justify-content: center;
        margin: auto;
        text-align: center;
        display: flex;
        align-items: center">
    <div id="myCarousel" style="width: 650px" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/family1.JPG" alt="ASP.NET" class="img-responsive" />
            </div>
            <div class="item">
                <img src="~/images/family3.JPG" alt="Visual Studio" class="img-responsive" />
            </div>
            <div class="item">
                <img src="~/images/family1.JPG" alt="Microsoft Azure" class="img-responsive" />
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<h1>Scenery</h1>
<div style="justify-content: center;
        margin: auto;
        text-align: center;
        display: flex;
        align-items: center">
    <div id="myCarousel2" style="width: 650px" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel2" data-slide-to="1"></li>
            <li data-target="#myCarousel2" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/scenery3.JPG" alt="ASP.NET" class="img-responsive" />
            </div>
            <div class="item">
                <img src="~/images/scenery2.JPG" alt="Visual Studio" class="img-responsive" />
            </div>
            <div class="item">
                <img src="~/images/scenery1.JPG" alt="Microsoft Azure" class="img-responsive" />
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<h1>Models</h1>
<div style="justify-content: center;
        margin: auto;
        text-align: center;
        display: flex;
        align-items: center">
    <div id="myCarousel3" style="width: 650px" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel3" data-slide-to="1"></li>
            <li data-target="#myCarousel3" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/port6.JPG" alt="ASP.NET" class="img-responsive" />
            </div>
            <div class="item">
                <img src="~/images/port2.JPG" alt="Visual Studio" class="img-responsive" />
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel3" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel3" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<h1>Work Shenanigans</h1>
<div style="justify-content: center;
        margin: auto;
        text-align: center;
        display: flex;
        align-items: center">
    <div id="myCarousel4" style="width: 650px" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel4" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel4" data-slide-to="1"></li>
            <li data-target="#myCarousel4" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/workfunc4.JPG" alt="ASP.NET" class="img-responsive" />
            </div>
            <div class="item">
                <img src="~/images/workfunc2.JPG" alt="Visual Studio" class="img-responsive" />
            </div>
            <div class="item">
                <img src="~/images/workfunc3.JPG" alt="Microsoft Azure" class="img-responsive" />
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel4" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel4" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div style="position: page; bottom: 5px; width: 100%">
    <hr />
    <footer>
        <p>&copy; 2019 - FinalProject</p>
    </footer>
</div>
